.desktop-all-properties {
    padding: 50px 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .top {
        width: 100%;
        height: 200px;

        .search {
            width: 100%;
            height: 100%;
            background-color: #E4F1EE;
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .title {
                font-size: 30px;
                font-weight: 600;
                letter-spacing: 1px;
            }

            .sub-title {
                font-size: 20px;
                font-weight: 600;
            }

            .search-info {
                font-size: 16px;
                font-weight: 500;
            }

            .inputs {
                width: 100%;
                height: auto;
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: center;

                input {
                    width: 350px;
                    height: 50px;
                    font-size: 18px;
                    font-weight: 500;
                    padding: 10px;
                    border-radius: 8px;
                    border: 1px solid #ccc;
                    transition: 0.3s ease-in-out all;
                    background-color: white;
                    outline: none;
                }

                input:focus {
                    border: 1px solid #000632;
                }

                ::placeholder {
                    color: #ccc;
                }

                .button {
                    button {
                        width: 200px;
                        height: 50px;
                        padding: 10px 20px;
                        font-size: 16px;
                        font-weight: 600;
                        cursor: pointer;
                        background: none;
                        border: 1px solid #ccc;
                        border-radius: 10px;
                        transition: 0.3s ease-in-out all;
                        background-color: white;

                        &:hover {
                            border: 1px solid #D3E4D6;
                            color: #000632;
                            background: #D3E4D6;
                            box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
                        }
                    }
                }
            }
        }
    }

    .bottom {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        gap: 10px;

        .left {
            width: 250px;
            background-color: #E4F1EE;
            border-radius: 8px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .filter {
                width: 100%;
                height: auto;

                .filter-title {
                    font-size: 16px;
                    font-weight: 600;
                }

                .filter-value-select {
                    width: 100%;
                    height: auto;
                    margin-top: 5px;

                    select {
                        width: 100%;
                        height: 100%;
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: 8px;
                        outline: none;
                        font-size: 16px;
                        font-weight: 500;
                        transition: 0.3s ease-in-out all;
                        background-color: white;
                        cursor: pointer;
                    }

                    select option:disabled {
                        color: #ccc;
                        background-color: #f8f8f8;
                    }

                    select option:disabled:hover {
                        background-color: #f0f0f0;
                        cursor: not-allowed;
                    }
                }

                .filter-value-checkbox {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin: 5px 0px;
                    cursor: pointer;

                    label {
                        cursor: pointer;
                        font-weight: 500;
                    }
                }
            }

            .filter-apply,
            .filter-reset {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    width: 200px;
                    height: 40px;
                    padding: 10px 20px;
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                    background: none;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    transition: 0.3s ease-in-out all;
                    background-color: white;

                    &:hover {
                        border: 1px solid #D3E4D6;
                        color: #000632;
                        background: #D3E4D6;
                        box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
                    }
                }
            }
        }

        .right {
            border: 1px solid;
            flex: 1;
            height: auto;
            padding: 5px;
        }
    }
}