.desktop-profile {
    width: calc(100% - 100px);
    height: calc(100% - 50px);
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 10px;

    .left {
        border: 1px solid #ccc;
        border-radius: 8px;
        width: 600px;
        height: 100%;
        padding: 10px;
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: column;

        .top {
            width: 100%;
            height: 100%;

            .profile-pic {
                width: 100%;
                height: 300px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;

                img {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    border: 1px solid;
                }

                button {
                    padding: 10px 30px;
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                    background: none;
                    border: 1px solid #696969;
                    border-radius: 10px;
                    transition: 0.3s ease-in-out all;

                    &:hover {
                        border: 1px solid #F5934B;
                        color: white;
                        background: #F49C3B;
                        box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
                    }
                }
            }

            .about {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .about-title {
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: 2px;
                    border-bottom: 1px solid #ccc;
                    text-transform: uppercase;
                    color: #7F7F7F;
                }

                .about-info {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;

                    .user-info {
                        margin-right: 5px;
                        font-size: 15px;
                        font-weight: 500;
                        color: #000632;
                    }

                    i {
                        width: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: auto;
                        margin-right: 10px;
                        color: #7F7F7F;
                        font-size: 15px;
                    }

                    span {
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
            }
        }

        .bottom {
            width: 100%;
            height: 60%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .title {
                margin-top: 20px;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 2px;
                border-bottom: 1px solid #ccc;
                text-transform: uppercase;
                color: #7F7F7F;
            }

            .input-pair {
                position: relative;
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;

                .inputs {
                    position: relative;
                    width: 350px;
                    height: 40px;
                    display: flex;
                    align-items: center;

                    input {
                        width: 100%;
                        height: 100%;
                        padding: 0px 35px 0px 10px;
                        border: 1px solid #ccc;
                        border-radius: 8px;
                        outline: none;
                        font-size: 16px;
                        font-weight: 500;
                        transition: 0.3s ease-in-out all;
                    }

                    label {
                        position: absolute;
                        left: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #696969;
                        font-weight: 500;
                        pointer-events: none;
                        transition: 0.3s ease all;
                        background: #fff;
                        padding: 0 10px;
                    }

                    input:focus {
                        border: 1px solid #696969;
                        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
                    }

                    input:valid {
                        border: 1px solid black;
                    }

                    input:focus+label,
                    input:valid+label {
                        top: 50%;
                        transform: translateY(-190%);
                        left: 5px;
                        font-size: 14px;
                        color: black;
                        font-weight: 600;
                    }

                    i {
                        position: absolute;
                        right: 10px;
                        color: #696969;
                        transition: 0.3s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            color: black;
                        }
                    }
                }

                .old-password-input {
                    margin-bottom: 20px;
                }

                .new-password-input {
                    margin-bottom: 20px;
                }

                .password-strength {
                    width: 300px;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    .password-strength-bar {
                        flex: 1;
                        height: 8px;
                        background-color: #e0e0e0;
                        border-radius: 5px;
                        transition: background-color 0.3s ease-in-out all;
                    }

                }

                .error {
                    width: 100%;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 5px 0px;

                    span {
                        color: #B90E0A;
                        font-weight: 600;
                        font-size: 13px;
                    }
                }
            }

            .button {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;

                button {
                    padding: 10px 80px;
                    font-size: 20px;
                    font-weight: 600;
                    cursor: pointer;
                    background: none;
                    border: 1px solid #696969;
                    border-radius: 10px;
                    transition: 0.3s ease-in-out all;

                    &:hover {
                        border: 1px solid #F5934B;
                        color: white;
                        background: #F49C3B;
                        box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
                    }
                }
            }
        }
    }

    .right {
        border: 1px solid #ccc;
        border-radius: 8px;
        flex: 1;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .profile-confirmation {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            padding: 10px;
            border-radius: 8px;
            justify-content: space-between;

            span {
                font-weight: 500;
            }
        }

        .title {
            width: 100%;
            height: auto;
            padding: 10px 0px;
            border-bottom: 1px solid #ccc;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #7F7F7F;
            }

            button {
                padding: 10px 20px;
                font-size: 15px;
                font-weight: 600;
                cursor: pointer;
                background: none;
                border: 1px solid #696969;
                border-radius: 10px;
                transition: 0.3s ease-in-out all;

                &:hover {
                    border: 1px solid #F5934B;
                    color: white;
                    background: #F49C3B;
                    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
                }
            }
        }

        .user-information {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;

            .information-pair {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                gap: 50px;

                .input-info {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    label {
                        font-size: 16px;
                        font-weight: 500;
                        padding: 5px 5px;
                        color: #696969;
                        pointer-events: none;
                    }

                    input {
                        width: 100%;
                        height: 100%;
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: 8px;
                        outline: none;
                        font-size: 16px;
                        font-weight: 500;
                        transition: 0.3s ease-in-out all;
                    }

                    input:focus {
                        border: 1px solid #696969;
                        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
                    }

                    input:valid {
                        border: 1px solid black;
                    }

                    input:focus+label,
                    input:valid+label {
                        top: 50%;
                        transform: translateY(-190%);
                        left: 5px;
                        font-size: 14px;
                        color: black;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}