.desktop-profile {
    width: calc(100% - 100px);
    height: calc(100% - 50px);
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    .left {
        border: 1px solid #ccc;
        border-radius: 8px;
        width: 600px;
        height: 100%;
        padding: 10px;
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: column;

        .top {}

        .bottom {}
    }

    .right {
        border: 1px solid #ccc;
        border-radius: 8px;
        flex: 1;
        height: 100%;
        padding: 10px;
    }
}