@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-main: "Montserrat", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    list-style: none;
}

.desktop-window {
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
}